################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CourseProject.slnx
/CourseProject/.vs
/CourseProject/bin/Debug/net10.0
/CourseProject/obj
/.vs/ProjectEvaluation
/CourseProjectTests
/CourseProject.Application/bin/Debug/net10.0
/CourseProject.Application/obj/Debug/net10.0
/CourseProject.Domain/bin/Debug/net10.0
/CourseProject.Domain/obj/Debug/net10.0
/CourseProject.Infrastructure/bin/Debug/net10.0
/CourseProject.Infrastructure/obj/Debug/net10.0
/CourseProject.IntegrationTests/bin/Debug/net10.0
/CourseProject.IntegrationTests/obj/Debug/net10.0
/CourseProject.Tests/bin/Debug/net10.0
/CourseProject.Tests/obj/Debug/net10.0
/.vs
/CourseProject.Domain/obj/CourseProject.Domain.csproj.nuget.dgspec.json
/CourseProject.Domain/obj/CourseProject.Domain.csproj.nuget.g.props
/CourseProject.Domain/obj/CourseProject.Domain.csproj.nuget.g.targets
/CourseProject.Domain/obj/project.assets.json
/CourseProject.Domain/obj/project.nuget.cache
/CourseProject.Infrastructure/obj/CourseProject.Infrastructure.csproj.nuget.dgspec.json
/CourseProject.Infrastructure/obj/CourseProject.Infrastructure.csproj.nuget.g.props
/CourseProject.Infrastructure/obj/CourseProject.Infrastructure.csproj.nuget.g.targets
/CourseProject.Infrastructure/obj/project.assets.json
/CourseProject.Infrastructure/obj/project.nuget.cache
/CourseProject.IntegrationTests/obj/CourseProject.IntegrationTests.csproj.nuget.dgspec.json
/CourseProject.IntegrationTests/obj/CourseProject.IntegrationTests.csproj.nuget.g.props
/CourseProject.Tests/obj/CourseProject.Tests.csproj.nuget.dgspec.json
/CourseProject.Tests/obj/CourseProject.Tests.csproj.nuget.g.props
/CourseProject.Tests/obj/CourseProject.Tests.csproj.nuget.g.targets
/CourseProject.Tests/obj/project.assets.json
/CourseProject.Tests/obj/project.nuget.cache
/CourseProject.IntegrationTests/obj/CourseProject.IntegrationTests.csproj.nuget.g.targets
/CourseProject.IntegrationTests/obj/project.assets.json
/CourseProject.IntegrationTests/obj/project.nuget.cache
/CourseProject.Application/obj/CourseProject.Application.csproj.nuget.dgspec.json
/CourseProject.Application/obj/CourseProject.Application.csproj.nuget.g.props
/CourseProject.Application/obj/CourseProject.Application.csproj.nuget.g.targets
/CourseProject.Application/obj/project.assets.json
/CourseProject.Application/obj/project.nuget.cache
/CourseProject.Presentation/.vs
/CourseProject.Presentation/bin/Debug/net10.0
/CourseProject.Presentation/obj
/CourseProject.Booking.Application/obj
/CourseProject.Booking.Domain/bin/Debug/net10.0
/CourseProject.Booking.Domain/obj
/CourseProject.Booking.Infrastructure/obj
/CourseProject.Booking.Presentation/obj
/CourseProject.Event.Application/bin/Debug/net10.0
/CourseProject.Event.Application/obj
/CourseProject.Event.Domain/bin/Debug/net10.0
/CourseProject.Event.Domain/obj
/CourseProject.Event.Domain/CourseProject.Event.Domain.csproj
/CourseProject.Event.Infrastructure/bin/Debug/net10.0
/CourseProject.Event.Infrastructure/DataAccess/Configurations/EventConfiguration.cs
/CourseProject.Event.Infrastructure/obj
/CourseProject.Event.Presentation/obj
/CourseProject.User.Application/bin/Debug/net10.0
/CourseProject.User.Application/obj
/CourseProject.User.Domain/bin/Debug/net10.0
/CourseProject.User.Domain/obj
/CourseProject.User.Infrastructure/bin/Debug/net10.0
/CourseProject.User.Infrastructure/obj
/CourseProject.User.Presentation/bin/Debug/net10.0
/CourseProject.User.Presentation/obj
/CourseProject.Booking.Application/bin/Debug/net10.0
/CourseProject.Booking.Infrastructure/bin/Debug/net10.0
/CourseProject.Booking.Presentation/bin/Debug/net10.0
/CourseProject.Event.Presentation/bin/Debug/net10.0
/CourseProject.Bookings.Application/bin/Debug/net10.0
/CourseProject.Bookings.Application/obj
/CourseProject.Bookings.Domain/bin/Debug/net10.0
/CourseProject.Bookings.Domain/obj
/CourseProject.Bookings.Infrastructure/bin/Debug/net10.0
/CourseProject.Bookings.Infrastructure/obj
/CourseProject.Bookings.Presentation/bin/Debug/net10.0
/CourseProject.Bookings.Presentation/obj
/CourseProject.Events.Application/bin/Debug/net10.0
/CourseProject.Events.Application/obj
/CourseProject.Events.Domain/bin/Debug/net10.0
/CourseProject.Events.Domain/obj
/CourseProject.Events.Infrastructure/bin/Debug/net10.0
/CourseProject.Events.Infrastructure/obj
/CourseProject.Events.Presentation/bin/Debug/net10.0
/CourseProject.Events.Presentation/obj
/CourseProject.Users.Application/bin/Debug/net10.0
/CourseProject.Users.Application/obj
/CourseProject.Users.Domain/bin/Debug/net10.0
/CourseProject.Users.Domain/obj
/CourseProject.Users.Infrastructure/bin/Debug/net10.0
/CourseProject.Users.Infrastructure/obj
/CourseProject.Users.Presentation/bin/Debug/net10.0
/CourseProject.Users.Presentation/obj
